<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header navbar-brand">
            Automately
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav">
            {{#link-to "inquiry" tagName="li" classNames=""}}<a class="button-a">Inquiry</a>{{/link-to}}
            {{#link-to "listings" tagName="li" classNames=""}}<a class="button-a">Listings</a>{{/link-to}}
            {{#link-to "sellers" tagName="li" classNames=""}}<a class="button-a">Sellers</a>{{/link-to}}
            {{#link-to "results" tagName="li" classNames=""}}<a class="button-a">Results</a>{{/link-to}}
        </ul>
    </nav>
</div>
