<div class="container">
    <section class="inputs">
        <form id="uniqueform" title="Results select" class="results-select">
            <div class="controls-row">
                <select name="name" placeholder="Name">
                    <option value=""> --- Select saved results --- </option>

                    <option value="CtSgarnC46tzHh8CB">hihi</option>

                    <option value="munNuDxmfNJJ9fLFv">qt_toshiba_3817-2</option>

                    <option value="SY8RqrYsf4MbRLwT3">qt_toshiba_3817-2-R</option>

                    <option value="HnJtTLvdqoLw8QfQf">qt_toshiba_3817-7</option>

                    <option value="ZfMqvoMvxB4RiBwiz">qt_3817-8</option>

                    <option value="y5wNR5Gvy8ZP6EPHo">qt_toshiba_3817-9</option>

                    <option value="iPiTtPnxdJZMab4vv">qt_toshiba_3817-10</option>

                    <option value="2DPJJ85RH4jFTqGMe">qt_fujitsu_fpcbp200</option>

                    <option value="es55umQNqjRwNCnP2">qt_apple_a1189</option>

                    <option value="DKoJRbpKYaR2ZQn82">test1000</option>

                </select>
                <button type="button" class="results-delete btn-mini btn-danger"> <i class="icon-trash"></i></button>
                <button type="submit" class="btn btn-primary">Show results</button>
            </div>
        </form>
    </section>
    <section class="results" style="counter-reset: results 0, NaN 0;">



    </section>

</div>